<div *ngIf="selectedSensor != undefined; then mapSensorDetails else mapGlobalDetails"></div>
<!-- <div class="font-brown arvo"> -->
<ng-template #mapSensorDetails>
    <h1 class="font-brown arvo">Capteur selectionné</h1>
    <p class="font-brown arvo" id="sensorid" style="font-size: 20px;">
        <a target="_blank" href="meerky/details/{{sensorID}}">{{sensorID}}</a>
    </p>
    <h4 class="font-brown arvo">Adresse : <span class="font-brown arvo" id="addressid">{{address}}</span></h4>
    <div id="charttemp"></div>
    <div id="charthumi"></div>
    <div id="chartco2"></div>
    <div id="chartppm25"></div>
</ng-template>

<ng-template #mapGlobalDetails>
    <h1 class="font-brown arvo">Informations globales</h1>
    <br><br>
    <h4 class="font-brown arvo">Données reçus des capteurs : {{nbRawData}}</h4>
    <br>
    <h4 class="font-brown arvo">Nombre de capteurs : {{nbSensor}}</h4>
    <br>
    <h4 class="font-brown arvo">Capteurs avec alerte(s) : {{nbAlert}}</h4>
    <br>
    <div id="chartAlert"></div>
    <br>
    <hr>
    <h3 style="text-align: center;" class="font-brown arvo">Alertes Total : {{nbAlert}}</h3>
    <h4 class="font-brown arvo">Alertes non résolus : {{nbAlert - alertCheckedCount}}</h4>
    <h4 class="font-brown arvo">Alertes résolus : {{alertCheckedCount}}</h4>
    <br>
    <div id="chartAlertResolved"></div>
    <br>
</ng-template>
<!-- </div> -->