<h1 class="font-brown arvo">Details du détecteur : <span style="color: #e87e45;">{{sensorid}}</span></h1>

<div class="card1" style="border-top: none; border-radius: 100px 100px 0 0;">
    <h3 class="font-brown arvo">Température (°C)</h3>
    <div id="charttemp"></div>
</div>

<div class="card2">
    <h3 class="font-brown arvo">Humidité (%)</h3>
    <div id="charthumi"></div>    
</div>

<div class="card1">
    <h3 class="font-brown arvo">Concentration en C02 (Part par million)</h3>
    <div id="chartco2"></div>
</div>

<div class="card2">
    <h3 class="font-brown arvo">Concentration de Particule fine (Part par million)</h3>
    <div id="chartpm25"></div>
</div>