/* You can add global styles to this file, and also import other style files */
@import "../node_modules/c3/c3.min.css";
body {
    background-color: #fae1c8;
}

.arvo{
    font-family: Arvo;
}

.font-brown{
    color: #541c1d;
}