/* You can add global styles to this file, and also import other style files */
body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fae1c8;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    min-width: 300px;
    padding: 30px;
    margin: 0 auto;
    border: none;
    background-color: #fecb5e;
    border-radius: 60px 60px 30px 30px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    background-color: #ffbd8d;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-top: 1px solid rgba(84,28,29,0.3);
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control ::placeholder {
    color: #541c1d;
}

.arvo{
    font-family: Arvo;
}

.font-brown{
    color: #541c1d;
}
.font-brown::placeholder{
    color: rgba(84,28,29,0.5);
}

.secondary-color{
    background-color: #e87e45;
    border-color: #e87e45;
}

.secondary-color:hover{
    background-color: #b03409;
    border-color: #b03409;
}