    <form class="form-signin" (submit)="OnSubmit()">
      <div class="tritre-logo">
        <img class="mb-1" src="../../assets/meerky-logo-brown.png" alt="" width="200" height="200">
        <h1 class="h1 mb-4 font-weight-normal font-brown arvo" style="font-size: 3.5rem;">Meerky</h1>
      </div>
      <label for="inputEmail" class="sr-only font-brown">Adresse Email</label>
      <input formControleName="email" type="email" id="inputEmail" class="form-control font-brown" pInputText placeholder="Adresse Email" required autofocus>
      <label for="inputPassword" class="sr-only font-brown">Mot de Passe</label>
      <input type="password" id="inputPassword" class="form-control mb-3 font-brown" pInputText placeholder="Mot de Passe" required>
      <div class="checkbox mb-3">
        <label>
          <input class="font-brown" type="checkbox" value="remember-me"> Se souvenir de moi
        </label>
      </div>
      <button pButton class="btn btn-lg btn-primary btn-block secondary-color font-brown arvo" type="submit">Se connecter</button>
    </form>